.gitignore
/.project
/vendor
/composer.lock
.settings
composer.phar
/public
/build/
/web

/config
/design/frontend/default/pariezmeteo/
/design/frontend/default/smartbox/
/module/PlaygroundEmailCampaign/
/module/PlaygroundWeather/

/config/autoload/playgroundweather.global.php


