// Common structures
// 
// --------------------------------------------------

// Override bootstrap font
body{
  font-family: @futura;
}

// Block structural
.navbar-default,
#containerpage,
#header,
#footer{
  width: @site-width;
  margin: 0 auto;
}
