// Common header
// 
// --------------------------------------------------

// header
.wrap-header{
  background-color: @pg-red;
}

#header{
  padding: 30px 0;
  > .row{
    .hook-title{
      color:@pg-black;
      font-family: @comfortaa-bold;
      font-size: 24px;
      padding-top: 20px;
    }
  }
}

// Main navigation
.barnav{
  border-top: 1px solid @pg-black;
  border-bottom: 1px solid @pg-black;
  height: 35px;
}
.navbar-default {
  background: none;
    border:none;
  .navbar-collapse{
    border:none;
  }
  .navbar-nav {
    > li{
      line-height: 35px;
      > a{
        color:@pg-black;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 35px;
      }
      &.open > a,
      &.open > a:hover,
      &.open > a:focus{
        background: none;
        color:@pg-white;
      }
    }
    > .active {
      > a,
      > .open > a,
      > a:hover{
        background: none;
        color:@pg-white;
      }
    }
    .dropdown-menu{
      background-color: @pg-red;
      a{
        padding: 3px 20px 3px 30px;
        span{
          .sprite-it(16px, 20px, 0, -50px);
          .inline-block();
          position: absolute;
          left: 8px;
        }
        &:hover,
        &:focus{
          background-color: transparent;
        }
        &.badges-points{
          span{
            background-position: 0 -50px;
          }
        }
        &.activity{
          span{
            background-position: 0 -100px;
          }
        }
        &.profile{
          span{
            background-position: 0 -145px;
          }
        }
        &.newsletter{
          span{
            background-position: 0 -188px;
          }
        }
        &.sponsorfriends{
          span{
            background-position: 0 -235px;
          }
        }
        &.logout{
          span{
            background-position: 0 -279px;
          }
        }
      }
    }
  }
  .coordonnees{
    margin-left: 270px;
  }
}
